<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <h1>Edith Clarke</h1>
    <img src="img/clarke.jpg" alt="Edith Clarke">
    <p>Edith Clarke (Howard, 10 de febrero de 1883 – Maryland, 29 de octubre de 1959) fue la primera ingeniera eléctrica estadounidense y la primera profesora de ingeniería eléctrica en la Universidad de Texas en Austin (Estados Unidos).1​2​ Se especializó en análisis de sistemas de energía eléctrica y escribió el manual Circuit Analysis of A-C Power Systems.</p>
    <h2>Primeros años y Educación</h2>
    <p>Clarke nació en 1883 en Howard County (Maryland), hija de John Ridgely Clarke y Susan Dorsey Owings, y hermana de ocho.5​ Después de quedar huérfana a los 12 años, fue criada por su hermana mayor. Utilizó su herencia para estudiar matemáticas y astronomía en el Vassar College, donde se graduó en 1908.</p>
    <p>Después de la universidad, Clarke enseñó matemáticas y física en un colegio privado en San Francisco y en la Universidad Marshall. Dedicó algún tiempo a estudiar ingeniería civil en la Universidad de Wisconsin–Madison, pero lo dejó en 1912 para convertirse en una "calculadora humana" en la compañía de telecomunicaciones AT&T. Realizó cálculos para el ingeniero George Campbell, que aplicó métodos matemáticos para resolver los problemas de las transmisiones eléctricas de larga distancia. Mientras trabajaba en AT&T, estudiaba ingeniería eléctrica en la Universidad de Columbia por las noches.</p>
    <p>En 1918, Clarke se matriculó en el Instituto Tecnológico de Massachusetts, y el año siguiente se convirtió en la primera mujer en obtener un M.S. (Master of Science) en ingeniería eléctrica del MIT.</p>
</body>
</html>